# Domain which the app is hosted at
# If tunneling, use its domain
SITE_DOMAIN=

# Persistent files and folder living on the host machine when app launched as a container.
DATABASE_DIR=./db
PERMISSION_TABLE_PATH=./permission_table.json
CERTIFICATES_DIR=./certificates

# Receiving number for Swish (Sandbox merchant number in dev)
SWISH_NUMBER=
SWISH_ENVIRONMENT="sandbox"

# Google Client variables (used for OAuth)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
